body { background-image: url(https://images.cdn4.stockunlimited.net/preview1300/cinema-background-with-movie-objects_1823382.jpg);
    background-size: cover;
    background-position: center;
}
.App {
    
    font-family: sans-serif;
    text-align: center;
  }
  .list { 
    display: flex;
    flex-wrap: wrap;
    margin: 10px 300px 10px 300px;
    flex-direction: row;
    justify-content: space-between
  }


.Modal{font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 25px 15px 25px;
    flex-wrap: wrap;
  }
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

img {
    height: 350px
    
}  

h1 { color: greenyellow;}
h2 {color: red;}
p {color: black;}

button {
    background-color: black;
    color: white;
    border-radius: 10px;
}
h3 {
    color: olive;}
    input {border-radius: 10px;}

    p { color: gold;
      font-family: sans-serif;
     font-size: large;
    }